<form action="/books/<%= books.id %>?_method=put" id="updateFrom" method="post">
    <div id="formContent">

        <input type="text" name="image_url" value="<%= books.image_url %>">
        <input type="text" name="title" value="<%= books.title %>">
        <input type="text" name="author" value="<%= books.author %>">
        <textarea type="text" name="description"><%= books.description %></textarea>
        <input type="text" name="isbn" value="<%= books.isbn %>">
        <button type="submit">Update Book</button>
    </div>
</form>

